.container {
  position: relative;
  width: 1660px;
  height: 2440px;
  border: 1px solid black;
  transform-origin: 0 0;
  /* transform: scale(0.75) translate(-15%, -15%); */
  overflow: hidden;
  background-color: lightgray;
}

.column {
  display: flex;
  flex-direction: column;
}

.column--1 {
  position: absolute;
  bottom: 0;
  left: calc((1 / 4) * (-125px));
}

.column--2 {
  position: absolute;
  bottom: -55px;
  left: calc((2 / 4) * 125px);
}

.column--3 {
  position: absolute;
  bottom: 0;
  left: calc((5 / 4) * 125px);
}

.column--4 {
  position: absolute;
  bottom: -55px;
  left: calc((8 / 4) * 125px);
}

.column--5 {
  position: absolute;
  bottom: 0;
  left: calc((11 / 4) * 125px);
}

.column--6 {
  position: absolute;
  bottom: -55px;
  left: calc((14 / 4) * 125px);
}

.column--7 {
  position: absolute;
  bottom: 0;
  left: calc((17 / 4) * 125px);
}

.column--8 {
  position: absolute;
  bottom: -55px;
  left: calc((20 / 4) * 125px);
}

.column--9 {
  position: absolute;
  bottom: 0;
  left: calc((23 / 4) * 125px);
}

.column--10 {
  position: absolute;
  bottom: -55px;
  left: calc((26 / 4) * 125px);
}

.column--11 {
  position: absolute;
  bottom: 0;
  left: calc((29 / 4) * 125px);
}

.column--12 {
  position: absolute;
  bottom: -55px;
  left: calc((32 / 4) * 125px);
}

.column--13 {
  position: absolute;
  bottom: 0;
  left: calc((35 / 4) * 125px);
}

.column--14 {
  position: absolute;
  bottom: -55px;
  left: calc((38 / 4) * 125px);
}

.column--15 {
  position: absolute;
  bottom: 0;
  left: calc((41 / 4) * 125px);
}

.column--16 {
  position: absolute;
  bottom: -55px;
  left: calc((44 / 4) * 125px);
}

.column--17 {
  position: absolute;
  bottom: 0;
  left: calc((47 / 4) * 125px);
}

.column--18 {
  position: absolute;
  bottom: -55px;
  left: calc((50 / 4) * 125px);
}

.column--19 {
  position: absolute;
  bottom: 0;
  left: calc((54 / 4) * 125px);
}

.column--20 {
  position: absolute;
  bottom: -55px;
  left: calc((57 / 4) * 125px);
}

.hex {
  stroke: lightgray;
  stroke-width: 2;
  cursor: pointer;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  -webkit-tap-highlight-color: transparent;
}

.hex:hover {
  stroke: black;
}

.hex--white {
  fill: #FDFBF4;
}

.hex--green {
  fill: url('#greenTilePattern');
}

.hex--wooden {
  fill: url('#woodenTilePattern');
}

/* Utility classes */

.p-20 {
  padding: 20px;
}
